.main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
  font-size: 24px;
  font-weight: 400;
}

.group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
